
#user-chat-box{
    position: fixed;
    bottom: 2px;
    right: 16px;
    border: 1px dashed grey;
    height: 360px;
	width: 300px;
	background: white;
	padding: 0;
	box-shadow: 1px 1px 1px 1px lightgrey;
	border: 2px solid #0faf97;
	border-radius: 4px;

    #chat-messages-list{
    	list-style: none;
		margin: 0;
	    padding: 0;
	    height: 84%;
	    background-color: white;
	    overflow: auto;

	    .other-message{
		    text-align: left;
		    padding: 0px;
		    span{
		    	display: inline-block;
	    		padding: 8px;
		    	background-color: #ffa0a0;
		    }
		    
	    }

	    .self-message{
		    text-align: right;
		    padding: 0;
		   
		    span{
		    	 
	    		display: inline-block;
	    		padding: 8px;
    			background-color: #a0dcff;
		    }
		   
	    }

    }
    #chat-message-input-container{
    	    height: 24%;
		    width: 100%;
		    display: flex;
		    flex-direction: row;

		    #chat-message-input{
	    	    height: 50%;
    			width: 70%;
		    }

		    #send-message{
	    	    height: 50%;
			    width: 30%;
			    font-size: 25px;
			    color: white;
			    border: none;
			    background: #0faf97;
		    }
	    }
}
