<div>

    <p>Hi <%= comment.user.name %>!</p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> just got published on socialClub</p>
    <br>
    <br>
    <h2>Thanks!</h2>
</div>